body {
  background-color: #fff;
  color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: #000;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: #F7F6F2;
  font-size: small;
  font-weight: bold;
  float: right;
}

.site_header {
  background-color: #C73B0B;
  color: #F7F6F2;
  font-weight: normal;
  font-size: small;
  height: 20px;
  width: 100%;
  padding-top: 2px;
  padding-left: 5px;
  border-left: #350608 solid 1px;
}

.site_footer {
  background-color: #C73B0B;
  color: #F7F6F2;
  font-weight: normal;
  font-size: small;
  height: 20px;
  width: 100%;
  padding-top: 2px;
  padding-left: 5px;
  border-left: #350608 solid 1px;
  border-top: #350608 solid 1px;
}

.retro_title {
  background-color: #F2C545;
  color: #F7F6F2;
  font-size: 24px;
  font-weight: bold;
  height: 30px;
  width: 100%;
  padding-top: 10px;
  padding-left: 5px;
  border-top: #350608 solid 1px;
  border-bottom: #350608 solid 1px;
  border-left: #350608 solid 1px;
}

.retro_sub_title {
  background-color: #F2C545;
  color: #F7F6F2;
  font-size: 12px;
  font-weight: bold;
  height: 25px;
  width: 100%;
  padding-top: 2px;
  padding-left: 5px;
  border-top: #350608 solid 1px;
  border-bottom: #350608 solid 1px;
  border-left: #350608 solid 1px;
  vertical-align: middle;
}

.retro_sub_title_link {
  text-decoration: none;
  color: inherit;
}

a:visited.retro_sub_title_link {
  color: inherit;
}

a:hover.retro_sub_title_link {
  background-color: inherit;
}

input:focus {
  border-color: #350608;
}

.title, .group_title {
  vertical-align: top;
  background-color: #978E43;
  color: #F7F6F2;
  text-align: left;
  text-indent: 2px;
  font-size: 14px;
  font-weight: bold;
  border-top: #350608 solid 1px;
  border-left: #350608 solid 1px;
  border-left: #350608 solid 1px;
  margin-bottom: 5px;
}

.retro_list {
  font-size: 24px;
  font-weight: bold;
}

a.retro_list {
  text-decoration: none;
}

.popup_text {
  font-style: normal;
  font-size: 24px;
  font-family: sans-serif;
  word-wrap: normal;
  line-height: 150%;
}

.refresh {
  /*display: inline;*/
  /*font-size: x-small;*/
  /*font-weight: normal;*/
  /*float: right;*/
}

.inline_link {
  display: inline;
  font-size: x-small;
  font-weight: normal;
  border: none;
}

a:hover.inline_link {
  background-color: inherit;
}

.nav_image {
  width: 18px;
  height: 18px;
  border: none;
}

a:hover.nav_image {
  background-color: inherit;
}

.editor input {
  border: #350608 solid 1px;
  background-color: inherit;
  cursor: auto;
  outline: none;
  min-width: 90%;
  max-width: 90%;
}

.editor button {
  font-size: x-small;
  font-weight: bold;
  padding: 5px;
  background: none;
  border: none;
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.section_row {
/*overflow: hidden;*/
  width: 80%;
}

.section {
  top: inherit;
  float: left;
  width: 50%;
  z-index: 0;
}

.groups {
  top: inherit;
  float: right;
  width: 20%;
  z-index: 0;
}

.section_items, .group_items {
  text-indent: 7px;
  font-size: 12px;
  vertical-align: top;
  border: #a9a9a9 dashed 1px;
  min-height: 120px;
}

.section_item {
  border: black solid 1px;
  float: left;
  width: 47%;
  height: 120px;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: top;
  overflow: hidden;
}

.group_item {
  border: black solid 1px;
  padding: 1px;
  background-color: #f8f291;
  margin-bottom: 5px;
  height: 60px;
  overflow: hidden;
}

.item_actions {
  text-align: right;
}

.collapsible {
  display: inline-block;
}

.section_drop_to_add {
  color: #a9a9a9;
  vertical-align: bottom;
  min-height: 20px;
  width: 100%;
}

.group_drop_to_add {
  color: #a9a9a9;
  vertical-align: bottom;
  min-height: 20px;
  width: 100%;
}

.item_vote {
  font-style: normal;
  font-size: 10px;
  font-weight: bold;
  vertical-align: top;
  float: left;
}

.item {
  font-style: italic;
  font-size: 12px;
  font-family: cursive;
}

.inline_form {
  display: inline;
  padding: 20px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

