<% if current_group.items.empty? %>
    <span class="drop_to_add">Drop to add item</span>
<% else %>
    <div>
      <%= render :partial => 'items/item', :collection => current_group.items, :locals => {:context => 'group'} %>
    </div>
<% end %>
