
<div class="group">

  <div class="group_title">
    <span id="inline_group_title_<%= group.id %>"><%= group.title %></span>
  </div>


  <div id="<%= "group_items_#{group.id}" %>" class="group_items">
    <%= render :partial => 'groups/group_items', :locals => {:current_group => group} %>
  </div>

</div>