<%= render :partial => 'items/item', :collection => current_group.items, :locals => {:context => 'group'} %>
<span id="group_empty_<%= current_group.id %>" class="drop_to_add">
  <%= render :partial => 'groups/group_drop', :locals => {:current_group => current_group} %>
</span>

