<% if is_starting_row(section_counter) %>
  <tr class="section_row">
<% end %>
<td class="title"><%= section.title %>
  <%= link_to 'Edit', edit_retrospective_section_path(section.retrospective, section), :class => 'inline_link' %>
</td>
<% if is_ending_row(section_counter) %>
  </tr>
  <tr>
    <% beginning_row_index_for_ending_index(section_counter).upto(section_counter) do |items_section_index| %>
      <% current_section = @retrospective.sections[items_section_index] %>
      <%= render :partial => 'section_items', :locals => {:current_section => current_section} %>
    <% end %>
  </tr>
<% end %>
