<% if current_section.items.empty? %>
    <span id="section_item_empty" class="drop_to_add">Add item or drop item from a different section.</span>
<% else %>
    <div id="section_item">
      <%= render :partial => 'items/item', :collection => current_section.items, :locals => {:context => 'section'} %>
    </div>
<% end %>