<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @item.value %>
</p>


<%= link_to 'Edit', edit_retrospective_section_item_path(@item) %> |
<%= link_to 'Back', retrospective_section_items_path %>
