body {
    background-color: #fff;
    color: #333;
}

pre {
    background-color: #eee;
}

a {
    color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    color: #fff;
    background-color: #000;
}

#notice {
    color: #FFCC33;
}

.site_header {
    background-color: #FF6600;
    color: #FFCC33;
    border-left: #FFCC33 solid 1px;
}

.site_footer {
    background-color: #FF6600;
    color: #FFCC33;
    border-left: #FFCC33 solid 1px;
    border-top: #FFCC33 solid 1px;
}

.retro_title {
    background-color: #A45209;
    color: #FFCC33;
    border-top: #FFCC33 solid 1px;
    border-bottom: #FFCC33 solid 1px;
    border-left: #FFCC33 solid 1px;
}

.retro_sub_title {
    background-color: #A45209;
    color: #FFCC33;
    border-top: #FFCC33 solid 1px;
    border-bottom: #FFCC33 solid 1px;
    border-left: #FFCC33 solid 1px;
}

.editor_field {
    border: #FFCC33 solid 1px;
}

input:focus {
    border-color: #FFCC33;
}

.title, .group_title {
    background-color: #533419;
    color: #FFCC33;
    FFCC33border-top: #FFCC33 solid 1px;
    border-left: #FFCC33 solid 1px;
    border-left: #FFCC33 solid 1px;
}

.section_items, .group_items {
    border:#a9a9a9 dashed 1px;
}

.group_item {
    background-color: #f8f291;
}

.section_drop_to_add {
    color:#a9a9a9;
}

.group_drop_to_add {
    color:#a9a9a9;
}

#error_explanation {
    background-color: #f0f0f0;
}

#error_explanation h2 {
    background-color: #c00;
    color: #fff;
}

