body {
    background-color: #fff;
    color: #333;
}

pre {
    background-color: #eee;
}

a {
    color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    color: #fff;
    background-color: #000;
}

#notice {
    color: #F7F6F2;
}

.site_header {
    background-color: #747533;
    color: #F7F6F2;
    border-left: #CAE001 solid 1px;
}

.site_footer {
    background-color: #747533;
    color: #F7F6F2;
    border-left: #CAE001 solid 1px;
    border-top: #CAE001 solid 1px;
}

.retro_title {
    background-color: #B9BA6B;
    color: #F7F6F2;
    border-top: #CAE001 solid 1px;
    border-bottom: #CAE001 solid 1px;
    border-left: #CAE001 solid 1px;
}

.editor_field {
    border: #CAE001 solid 1px;
}

input:focus {
    border-color: #CAE001;
}

.title, .group_title {
    background-color: #B9BA80;
    color: #F7F6F2;
    border-top: #CAE001 solid 1px;
    border-left: #CAE001 solid 1px;
}

.section_items, .group_items {
    border:#a9a9a9 dashed 1px;
}

.section_drop_to_add {
    color:#a9a9a9;
}

.group_drop_to_add {
    color:#a9a9a9;
}

#error_explanation {
    background-color: #f0f0f0;
}

#error_explanation h2 {
    background-color: #c00;
    color: #fff;
}

