body {
    background-color: #fff;
    color: #333;
}

pre {
    background-color: #eee;
}

a {
    color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    color: #fff;
    background-color: #000;
}

#notice {
    color: #F7F6F2;
}

.site_header {
    background-color: #FFCC00;
    color: #3016b0;
    border-left: #3c2d84 solid 1px;
}

.site_footer {
    background-color: #FFCC00;
    color: #3016b0;
    border-left: #3c2d84 solid 1px;
    border-top: #3c2d84 solid 1px;
}

.retro_title {
    background-color: #ffd940;
    color: #3016b0;
    border-top: #3c2d84 solid 1px;
    border-bottom: #3c2d84 solid 1px;
    border-left: #3c2d84 solid 1px;
}

.retro_sub_title {
    background-color: #ffd940;
    color: #3016b0;
    border-top: #3c2d84 solid 1px;
    border-bottom: #3c2d84 solid 1px;
    border-left: #3c2d84 solid 1px;
}

.editor_field {
    border: #3c2d84 solid 1px;
}

.editor input {
  color: #3016b0;
}

input:focus {
    border-color: #3c2d84;
}

.title, .group_title {
    background-color: #ffe373;
    color: #3016b0;
    border-top: #3c2d84 solid 1px;
    border-left: #3c2d84 solid 1px;
}

.section_items, .group_items {
    border:#a9a9a9 dashed 1px;
}


.group_item {
    background-color: #f8f291;
}

.section_drop_to_add {
    color:#a9a9a9;
}

.group_drop_to_add {
    color:#a9a9a9;
}

#error_explanation {
    background-color: #f0f0f0;
}

#error_explanation h2 {
    background-color: #c00;
    color: #fff;
}

